
.hourlyCard{
    background-color:transparent;
    padding: 4px;
}

.content {
    height: 140px;
    background-color: #141414;
    border-radius: 20px;

}





  .icon{
    height: 50px;
    width: 50px;
    background-position:-25px -25px;
} 

  
    
    