.dailyCard {
    background-color: transparent;   
    padding: 4px;
}

.content {
    height: 140px;;
    background-color: #141414;
    display:flex;
    border-radius: 20px;
    align-items: center;
   
}


.weekDay{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 00;
    margin-left: 10px;
}