.cardContainer {
  background-color: #141414;
  display: flex;
  width: 50vw;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  font-size: 28px;
   
}

.cardContainer img {
  width: 50px;
  height: 50px;
}

.firstCol{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 33%;
}

.secondCol{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 33%;
  
}

.thirdCol{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 33%;
}

.weekDay {
  font-size: 56px;
  margin-bottom: 30px;
}

.hoursMins {
  margin-bottom: 10px;
  
}

.maxTemp{
  display:flex;
  align-items: center;
}


.temp {
  font-size: 56px;
  display:flex;
  align-items: center;
}

.minTemp{
  display:flex;
  align-items: center;
}

.wind{
  display:flex;
  align-items: center;
}

.rain{
  display:flex;
  align-items: center;
}

.rf{
  display:flex;
  align-items: center;
}

.humidity{
  display:flex;
  align-items: center;
}   