.headerContainer{
    display: flex;
    border-radius: 20px;
    width: 60%;
    justify-content:center
}

input {
    max-width: 225px;
    border-radius: 20px;
    text-align: center;
    font-weight:400 ;
    font-size: 1rem;
}

span {
    color: rgb(255, 125, 60);
}
.wrapper{
    display:flex;
    justify-content: center;
    width: 80%;
    position: relative;
}

.locationText{
    position: absolute;
    left: 10%;
    bottom: -70%;
}
