.app {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.appBlur {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    filter: blur(20px);
}

.blur{
    filter: blur(4px);
}